body {
    font-family: 'Amatic SC', cursive;

}
h1 {
    margin: 20px;
    font-size: 50px;
}

h3 {
    margin: 20px;
    font-size: 30px;
}
.tophead{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-end;
    flex-wrap: wrap;
}
.tophead > section{
    width: 25%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
.tophead > section > figure{
    width: 230px;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.tophead > section > figure > img{
    width: 225px;
    height: 225px;
}
.tophead > nav{
    width: 75%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-self: stretch;
    flex-wrap: wrap;
}
.tophead > nav > ul{
    width: 75%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    align-self: stretch;
    flex: 1;
}
.tophead > nav > ul > li{
    justify-self: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.tophead > nav > ul li:last-of-type{
    margin: 0;
}
.tophead > nav > ul > li > a{
    display: block;
    background-color: brown;
    color: white;
    text-decoration: none;
    padding: 5px 16px;
    font-size: 35px;
    border: solid 2px #97743a;
    border-bottom-right-radius:25px;
    border-top-left-radius: 25px;
    box-shadow: #49412c 2px 2px 2px 2px;
}
main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}
main > section{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
main > section > figure{
    width: 100%;
    height: 500px;
    box-sizing: border-box;
    border: solid 2px #97743a;
    border-bottom-right-radius:25px;
    border-top-left-radius: 25px;
    overflow: hidden;
}
.flex-img {
    width:  100%;
    height: 500px;
}

.contactinfo{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
    border: 1px solid black;
    padding-left: 1%;
    padding-right: 1%;
}
.contactinfo header{
    margin-top:0;
}
.googlemap{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 25px;
    margin-bottom: 15px;
}
.googlemap .map{
    border: solid #262216 5px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    background-color: wheat;
    overflow: hidden;
    box-sizing: border-box;
}
.googlemap .map figure{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-content: stretch;
    align-self: center;
    flex-wrap: wrap;
}
.googlemap .map figure img{
    width: 100%;
    height: 100%;


}
.contact{
    width: 20%;
    display: flex;
    flex-direction: column;
    border: solid #262216 5px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    margin-bottom: 10px;
    background-color: wheat;
    padding: 10px;
    font-size: 20px;
}
.contact p{
    margin: 2px;
}
.contact h5{
    margin-top: 10px;
    margin-bottom: 10px;
}

.form {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    margin-left: 5%;
}

.form > header {
    display: flex;
    justify-content: flex-start;

}

.form > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    border: solid #262216 5px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    padding: 5px;
    background-color: wheat;
    margin-bottom: 10px;
    font-size: 20px;

}

.form > form > input {
    width: 40%;
}


input {
    border: solid #262216 2px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    padding-left: 5px;
}

.border-textarea {
    display: flex;
    flex-wrap: wrap;
    border: solid #262216 3px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    width: 85%;
    height: 250px;
    overflow: hidden;
    box-sizing: content-box;
}

textarea {
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: 0;
    align-self: stretch;
}

label {
    margin-bottom: 5px;
    margin-left: 5px;
}

.submit-button {
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-top: 3%;
    margin-bottom: 5%;
}

#submit {
    background-color: brown;
    color: white;
    border: solid 2px #97743a;
    border-bottom-right-radius:25px;
    border-top-left-radius: 25px;
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
    box-shadow: #49412c 2px 2px 2px 2px;
    padding: 5px;

}


.order-details > form {
    display: flex;
    flex-direction: row;
    border: solid #262216 5px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    margin-bottom: 10px;
    background-color: wheat;
    width: 90%;
    padding: 15px;
    font-size: 20px;
    align-self: stretch;

}

.shipment-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.order-details > form > label {
    display: flex;
    vertical-align: middle;
    justify-content: space-between;
}

.order-details {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    align-self: stretch;
    margin-left: 5%;
    margin-right: 5%;
}
.order-details header{
    width: 100%;
    height: auto;
}
.product-sum{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    background-color: wheat;
    border: solid #262216 5px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    box-sizing: border-box;
}
.productlist {
    width: 50%;
    height: auto;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding-top: 25px;
}

.product {
    width: 100%;
    height: 100px;
    margin-bottom: 25px;
    border: solid 3px #97743a;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 25px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    color: white;
    background-color: #262216;
    box-sizing: border-box;

}
.product section{
    width: 10%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;

}
.product section figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.order-img {
    height: 100%;
    width: 100%;
}
.productdetails{
    height: 100%;
    width: 50%;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: stretch;
    font-size: 15px;

}
.productprice{
    height: 100%;
    width: 10%;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: stretch;
}
.price{
    color: brown;
    font-size: 25px;
}
.buttonsection{
    width: 100%;
    height: auto;
    align-self: flex-end;
}
#remove{
    background-color: brown;
    color: white;
    border: solid 2px #97743a;
    border-bottom-right-radius:25px;
    border-top-left-radius: 25px;
    font-family: 'Amatic SC', cursive;
    font-size: 18px;
    box-shadow: #49412c 2px 2px 2px 2px;
}
.order-sum-total{
    width: 40%;
    height: auto;
    align-self: flex-start;
    border: solid 1px black;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    font-size: 20px;
    margin-top: 5px;
    margin-left: 5px;
}


footer{
    width: 100%;
    max-width: 100%;
    height: 200px;
    border-top: 2px solid #262216;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    color: #97743a;
    font-size: 12px;
}
footer .leftbox-footer{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding-left: 10px;
    margin-left: 10%;
}
footer section{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.middle-name {
    display: flex;
    justify-content: center;
}
footer section header {
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}

footer .socialmedia header{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 10px;
}
footer .socialmedia{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 10%;
}
.social-media-loco {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
}
.social-media-loco-1 {
    background: #000000;
    margin: 10px;
    list-style: none;
    font-size: 24px;
    transition: .5s;
    border: 1px solid black;
}
.social-media-loco-2 {
    width: 60px;
    padding: 1px;
    display: block;
    color: #ffffff;
}
.social-media-loco .social-media-loco-1:nth-child(1) {
    background: #3b5998;
}
.social-media-loco .social-media-loco-1:nth-child(2) {
    background: #00aced;
}
.social-media-loco .social-media-loco-1:nth-child(3) {
    background: #dd4b39;
}
.social-media-loco .social-media-loco-1:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 10px rgba(0,0,0,.5);
}